*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 0, 106);
}

.container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}
.form-container{
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 420px;
    background-color: rgb(7, 7, 65);
    column-gap: 20px;
    border-radius: 20px;
}
.info{
    display: grid;
    place-items: center;
}
.info .text{
    color: white;
    margin: 30px 0 0 20px;
    /* 30=top 0 0 20=left */
    letter-spacing: 3px;
}
.info .text span{
    line-height: 1.6;
}
.social-button button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid red;
    cursor: pointer;

}
.social-button i{
    font-size: 18px;
    color: red;
}
.social-button button:hover{
    background-color: red;
    color: white;
}
.social-button i:hover{
    color: white;
}

form{
    margin-top: 30px;
}
.input-control{
    width: 100%;
    margin-left: 50px;
    position: relative;
}
form label{
    color: white;
    font-size: 15px;
}

form input, textarea{
    width: 80%;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 16px;
    color: white;
    padding: 10px 0;
}

form button{
    width: 40%;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 20px;
    color: red;
}
form button:hover{
    background-color: red;
    color: white;
}

@media only screen and (max-width: 768px){
    .form-container{
        grid-template-columns: 500px;
        grid-template-rows: 400px 430px;
        margin-top: 100px;
        margin-left: 30px;
    }

}