*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e7ee;
}

section {
    background-color: #e6e7ee;
    height: 100vh;
    width: 100%;
}

.section-control .container .card{
    display: inline-flex;
    width: calc(23% - 5px);
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: 6px 6px 6px #b8b9be, -3px -3px 6px #ffffff;
    margin: 30px 10px;
}
.section-control .container .card .box img{
    width: 60%;
    height: 280px;
}

.section-control .container .card .box .text-control{
    font-size: 40px;
    font-weight: 900;
    color: red;
}
.section-control .container .card .box p{
    font-size: 20px;
    color: black;
    padding: 10px 10px;
    letter-spacing: 2px;
}
.section-control .container .card .box .price-product{
    font-size: 25px;
    margin: 6px 3px;
}
.section-control .container .card .box button{
    width: 80%;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
}
.section-control .container .card .box .star i{
    font-size: 25px;
    margin: 6px 3px;
}
.section-control .container .card .box .star span{
    color: red;
}
/*i will provide source code link in discription 
please subscribe my chennel */

@media(max-width:1500px){
    .section-control .container .card{
        width: calc(31%);
    }
}

@media(max-width:1100px){
    .section-control .container .card{
        width: calc(47%);
    }
}
@media(max-width:791px){
    .section-control .container .card{
        width: calc(95%);
    }
}