*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e6e7ee;
    display: grid;
    place-items: center;
    height: 100vh;
}
form{
    width: 500px;
    height: 600px;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    border: 0.0625rem solid transparent;
}
.main-form-control{
    margin-top: 30px;
}

input{
    width: 80%;
    height: 50px;
    margin: 40px 3px 0px 30px;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
    border: 00.0625rem solid transparent;
    color: red;
    font-size: 20px;
}
input:focus{
    outline: none;
}

label{
    margin-left: 30px;
    font-size: 25px;
    position: absolute;
    margin-top: 30px;
    color: red;
}
.button-control{
    width: 80%;
    height: 60px;
    background-color: #e6e7ee;
    margin-top: 50px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    border-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    border: 0.0625rem solid transparent;
    color: red;
     font-size: 25px;
     transition: all 0.5s ease;
}
.button-control:hover{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
.social-button button{
     border-radius: 50%;
     width: 70px;
     height: 70px;
     background-color: #e6e7ee;
     border-color: #e6e7ee;
     box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    margin-top: 50px;
    margin-left: 70px;
    padding: 10px;
    border: 0.0625rem solid transparent;  
}
.social-button button:hover{
   box-shadow:  inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;

}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    margin-left: 180px;
    margin-top: -60px;
    border: 0.0625rem solid transparent;
}
h2{
    text-align: center;
    margin-top: 10px;
}
h2 a{
    text-decoration: none;
    color: red;
}
.social-button i{
    font-size: 30px;
    color: red;
}
.button-control i{
    font-size: 30px;
    margin-right: 10px;
    color: red;
}
.circle i{
    position: absolute;
    color: red;
    margin: 36px 0px 0px 38px;
    font-size: 50px;
}
/* use google font icons */
/* source code link in discription 
please subscribe my chennel